$contacts__color-hover: #ff0000;
$contacts__border-color: #484848;

.contacts {
  padding-top: 58px;
  padding-left: 1px;

  &__title {
    position: relative;

    min-height: 108px;
    margin-bottom: 55.5px;

    font-weight: 300;
    font-size: 40px;
    line-height: 55px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 253px;
      height: 33px;
      margin-left: - (253px / 2);

      background-image: url('../img/decoration.png');
    }
  }

  &__description {
    margin-bottom: 93px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  &__veggie {
    float: left;
    width: 200px;
  }

  &__veggie-title {
    display: block;
    margin-bottom: 5px;

    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__veggie-address {
    display: block;
  }

  &__reservations {
    float: right;
    width: 220px;
    padding-left: 4px;
  }

  &__reservations-title {
    display: block;
    margin-bottom: 5px;

    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__reservations-email {
    display: block;
  }

  &__reservations-tel {
    display: block;
  }

  &__form {
    margin-bottom: 192px;

    text-align: left;
  }

  &__input {
    min-height: 35px;
    padding: 0 0 6px 22px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-family: inherit;
    vertical-align: top;
    color: #3c3c3c;
    font-style: italic;

    border-bottom: 1px solid #3c3c3c;
    outline: 0;
  }

  &__form-title {
    margin-bottom: 28px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__form-colums {
    margin-bottom: 65px;

    font-size: 0;
  }

  &__form-name {
    width: 254px;
    margin-right: 62px;
  }

  &__form-email {
    width: 254px;
  }

  &__form-message {
    width: 570px;
    margin-bottom: 52.5px;
  }

  &__form-button {
    width: 100px;
    height: 50px;
    margin-left: 237px;

    font-weight: 900;
    font-size: 18px;
    line-height: 48px;

    border: 1px solid #666666;
  }

  &__social-list {
    width: 114px;
    margin-right: 4px;
    margin-left: auto;

    font-size: 0;
  }

  &__social-item {
    display: inline-block;
    margin-right: 14px;

    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-link {
    display: block;
    width: 50px;
    height: 50px;

    border: 1px solid #666666;

    &--fb {
      background: url('../img/icon-facebook.png') center center no-repeat;
    }

    &--inst {
      background: url('../img/icon-instagram.png') center center no-repeat;
    }
  }
}
