.month-specials {
  min-height: 835px;
  padding-top: 58px;

  background-color: #ffffff;

  &__title {
    position: relative;

    width: 410px;
    min-height: 120px;
    margin: 0 auto 57px auto;
    padding-top: 14px;

    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 253px;
      height: 33px;
      margin-left: - (253px / 2);

      background-image: url('../img/decoration.png');
    }
  }

  &__offers-list {
    width: 3 * 496px;
    height: 2 * 248px;
    margin: 0 auto;

    font-size: 0;
    line-height: 0;
  }

  &__offers-item {
    display: inline-block;
    width: 496px;
    height: 248px;

    vertical-align: top;

    &--reverse {
      & .month-specials__offer-img {
        float: right;
      }

      & .month-specials__offer-wrap {
        float: left;
      }
    }
  }

  &__offer-img {
    display: block;
    float: left;
    width: (496px / 2);
    height: 248px;

    transition: 0.2s ease;

    clip-path: inset(0 0 0 0);

    & img {
      transition: 0.2s ease;

      &:hover {
        transform: scale(1.20);
      }
    }
  }

  &__offer-wrap {
    float: right;
    width: (496px / 2);
    height: 248px;
    padding-top: 62px;

    text-align: center;

    background-color: #f8f8f8;
  }

  &__offer-title {
    position: relative;

    min-height: 41px;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 18px;
    line-height: 30px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 88px;
      height: 2px;
      margin-left: -44px;

      background-color: #383838;
    }
  }

  &__offer-description {
    min-height: 50px;
    margin-bottom: 7px;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  &__offer-price {
    display: block;
    min-height: 35px;

    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
}
