.advantages {
  padding-top: 66px;
  padding-bottom: 77px;

  background: url('../img/advantages-background.jpg') no-repeat #f9c710;
  background-size: cover;
}

.advantages__list {
  font-size: 0;
  text-align: center;
}

.advantages__item {
  position: relative;

  display: inline-block;
  width: 380px;
  min-height: 240px;
  margin-right: 178px;
  padding-top: 120px;
  padding-bottom: 10px;

  vertical-align: top;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 50%;
  }

  &--noodle::before {
    width: 87px;
    height: 79px;
    margin-left: - (87px / 2) + 10px;

    background-image: url('../img/noodle.png');
  }

  &--tea::before {
    width: 106px;
    height: 68px;
    margin-left: - (106px / 2) + 2px;

    background-image: url('../img/tea.png');
  }

  &--sweet::before {
    width: 64px;
    height: 76px;
    margin-left: - (64px / 2) + 1px;

    background-image: url('../img/sweet.png');
  }
}

.advantages__title {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: $desktopWidth) {
  .advantages__item {
    width: 25%;
    margin-right: 12%;
  }
}

@media (max-width: $tabletWidth) {
  .advantages {
    padding: 30px 0 50px 0;
  }

  .advantages__item {
    display: block;
    width: 100%;
    margin: 0 0 40px 0;
    padding-right: 5px;
    padding-left: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;

      width: 100%;
      height: 20px;
      padding: 0 5px;

      background-image: url('../img/decoration.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
    }
  }
}
