$button-color: #f00;

.button
{
    margin: 0;
    padding: 0;

    cursor: pointer;

    border: none;
    outline: 0;
    background: none;

    &:focus
    {
        color: $button-color;
    }

    // Remove outiline bug in Firefox
    &:-moz-focusring
    {
        outline: 0;
    }
}
