.month-specials {
  min-height: 835px;
  padding-top: 58px;
  padding-bottom: 40px;

  background-color: #ffffff;
}

.month-specials__title {
  margin: 0 auto 57px auto;
}

.month-specials__offers-list {
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.month-specials__offers-item {
  display: inline-block;
  width: 496px;

  vertical-align: top;

  &--reverse {
    & .month-specials__offer-img {
      float: right;
    }

    & .month-specials__offer-wrap {
      float: left;
    }
  }
}

.month-specials__offer-img {
  display: block;
  float: left;
  width: (496px / 2);
  min-height: 248px;

  clip-path: inset(0 0 0 0);

  & img {
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.20);
    }
  }
}

.month-specials__offer-wrap {
  float: right;
  width: (496px / 2);
  min-height: 248px;
  padding-top: 62px;

  text-align: center;

  background-color: #f8f8f8;
}

.month-specials__offer-title {
  position: relative;

  min-height: 41px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 88px;
    height: 2px;
    margin-left: -44px;

    background-color: #383838;
  }
}

.month-specials__offer-description {
  min-height: 50px;
  margin-bottom: 7px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.month-specials__offer-price {
  display: block;
  min-height: 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: $desktopWidth) {
  .month-specials__offers-item--reverse {
    & .month-specials__offer-img {
      float: left;
    }

    & .month-specials__offer-wrap {
      float: right;
    }
  }
}

@media (max-width: $tabletWidth) {
  .month-specials {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .month-specials__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 520px) {
  .month-specials__offers-item {
    display: block;
    width: 100%;
    min-height: 248px * 2;
    padding: 0 5px;
  }

  .month-specials__offer-img {
    float: none;
    margin: 0 auto;
  }

  .month-specials__offer-wrap {
    float: none;
    margin: 0 auto;
  }

  .month-specials__offers-item--reverse {
    & .month-specials__offer-img {
      float: none;
      margin: 0 auto;
    }

    & .month-specials__offer-wrap {
      float: none;
      margin: 0 auto;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .month-specials {
    .month-specials__offer-img {
      clip-path: none;

      & img,
      & img:hover {
        transition: none;
      }
    }
  }
}
