.offers-menu {
  width: 635px;
}

.offers-menuitem {
  position: relative;

  width: inherit;
  min-height: 60px;
  margin-bottom: 19px;
  padding-top: 7px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 26px;
    left: 2px;
    z-index: 1;

    width: 99%;
    height: 2px;

    border-bottom: 2px dotted black;
  }
}

.offers-menuwrap {
  position: relative;
  z-index: 2;

  float: left;

  background-color: #ffffff;
}

.offers-menuoffer {
  padding-right: 14px;
}

.offers-menuoffer-title {
  display: block;

  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}

.offers-menuoffer-products {
  display: block;

  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}

.offers-menuoffer-price {
  position: relative;
  z-index: 2;

  display: block;
  float: right;
  padding-left: 9px;

  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  background-color: #ffffff;
}

@media (max-width: 1500px) {
  width: 100%;
  padding: 0 5px;
}

@media (max-width: $tabletWidth) {
  .offers-menuoffer-title {
    font-size: 14px;
  }

  .offers-menuoffer-products {
    font-size: 12px;
  }

  .offers-menuoffer-price {
    font-size: 14px;
  }
}
