.restaurant-menu {
  min-height: 965px;
  padding-top: 58px;

  text-align: center;
}

.restaurant-menu__title {
  position: relative;

  min-height: 108px;
  margin-bottom: 52px;

  font-weight: 300;
  font-size: 40px;
  line-height: 55px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 253px;
    height: 33px;
    margin-left: - (253px / 2);

    background-image: url('../img/decoration.png');
  }
}

.restaurant-menu__nav {
  margin-bottom: 70px;
}

.restaurant-menu__offers {
  padding: 0 15px;

  font-size: 0;
  text-align: left;
}

.restaurant-menu__offers-menu {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

@media (max-width: $desktopWidth) {
  .restaurant-menu__offers {
    padding: 0 5%;
  }
}

@media (max-width: 1500px) {
  .restaurant-menu__offers-menu {
    &--left {
      float: none;
    }

    &--right {
      float: none;
    }
  }
}

@media (max-width: $tabletWidth) {
  .restaurant-menu {
    padding-top: 14px;
    padding-bottom: 30px;
  }

  .restaurant-menu__nav {
    margin-bottom: 20px;
  }

  .restaurant-menu__title {
    width: 250px;
    min-height: 85px;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 24px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 200px;
      height: 20px;
      margin-left: - (200px / 2);

      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
    }
  }
}
