$fontFamily: 'Merriweather', 'Georgia', serif;

body,
html {
  box-sizing: border-box;
  min-width: 1900px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  font-family: $fontFamily;
  color: #3c3c3c;
  text-transform: none;

  background-color: #ffffff;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  margin: 0;
  padding: 0;

  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  text-align: center;
}
