body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Merriweather', 'Georgia', serif;
  color: #3c3c3c;
  text-transform: none;
  letter-spacing: -0.02em;

  background-color: #ffffff;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  margin: 0;
  padding: 0;

  color: #3c3c3c;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  text-align: center;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

template {
  display: none !important;
}

@font-face {
  font-weight: 300;
  font-family: 'Merriweather';
  font-style: normal;
  font-stretch: normal;

  src: url('../font/Merriweather-Light.otf') format('opentype');
  unicode-range: U+0020-00FE;
}

@font-face {
  font-weight: 300;
  font-family: 'Merriweather';
  font-style: italic;
  font-stretch: normal;

  src: url('../font/Merriweather-Light-Italic.otf') format('opentype');
  unicode-range: U+0020-00FE;
}

@font-face {
  font-weight: 400;
  font-family: 'Merriweather';
  font-style: normal;
  font-stretch: normal;

  src: url('../font/Merriweather-Regular.otf') format('opentype');
  unicode-range: U+0020-00FE;
}

@font-face {
  font-weight: 700;
  font-family: 'Merriweather';
  font-style: normal;
  font-stretch: normal;

  src: url('../font/Merriweather-Bold.otf') format('opentype');
  unicode-range: U+0020-00FE;
}

@font-face {
  font-weight: 900;
  font-family: 'Merriweather';
  font-style: normal;
  font-stretch: normal;

  src: url('../font/Merriweather-Black.otf') format('opentype');
  unicode-range: U+0020-00FE;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0; 

  clip: rect(0 0 0 0);
}

.container {
  width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1710px) {
  .container {
    width: 100%;
    padding: 0 1%;
  }
}

.clearfix::after {
  content: ''; 

  display: table;
  clear: both;
}

.button {
  margin: 0;
  padding: 0;

  background: none; 
  border: none;
  outline: 0;
  cursor: pointer;
}
.button:focus {
  color: #ff0000;
}
.button:-moz-focusring {
  outline: 0;
}

.input {
  margin: 0;
  padding: 0;

  background: none; 
  border: none;
}

.page-header {
  max-height: 965px;
  padding-top: 53px;

  background: url('../img/header-background.jpg') no-repeat #f8f8f8;
  background-position: right bottom;
  background-size: cover;
}
.page-header__container {
  width: 100%;
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 1%;
}
.page-header__nav {
  float: right;
  margin: 0 45px 306px 0;
}
.page-header__tagline {
  position: relative;

  float: right;
  width: 540px;
  margin-right: 103px;
  margin-bottom: 445px;

  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -0.8px;
}
.page-header__tagline::after {
  content: '';
  position: absolute;
  bottom: calc(-33px - 36px);
  left: 50%;

  width: 253px;
  height: 33px;
  margin-left: -126.5px;

  background-image: url('../img/decoration.png');
}
@media (max-width: 1710px) {
  .page-header {
    padding-top: 3%;
  }
  .page-header__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
  }
  .page-header__nav {
    margin-right: 1%;
    margin-bottom: 18%;
  }
  .page-header__tagline {
    margin-right: 2%;
    margin-bottom: 30%;
  }
}
@media (max-width: 800px) {
  .page-header {
    background: none;
    background-color: #efeff1;
  }
  .page-header__nav {
    float: none;
    margin-right: 0;
    margin-bottom: 10%;
    margin-left: 0;
  }
  .page-header__tagline {
    float: none;
    width: auto;
    margin-right: auto;
    margin-bottom: 90px;
    margin-left: auto;

    font-size: 30px;
    line-height: 40px;
  }
  .page-header__tagline::after {
    bottom: calc(-33px - 10px);
  }
}

.nav {
  font-size: 0;
}
.nav__item {
  display: inline-block;
  margin-right: 12px;

  vertical-align: top;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  position: relative;

  display: block;
  min-height: 50px;
  padding: 0 22.35px;

  font-weight: 900;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}
.nav__link:hover,
.nav__link:focus {
  color: #ff0000;
}
.nav__link:active {
  color: #ff8080;

  -webkit-box-shadow: inset 0 0 0 1px #c8c8c8;
          box-shadow: inset 0 0 0 1px #c8c8c8;
}
.nav__link--current {
  -webkit-box-shadow: inset 0 0 0 1px #484848;
          box-shadow: inset 0 0 0 1px #484848; 

  pointer-events: none;
}

.advantages {
  min-height: 383px;
  padding-top: 66px;

  background: url('../img/advantages-background.jpg') no-repeat #f9c710;
  background-size: cover;
}
.advantages__list {
  margin-left: 10px; 

  font-size: 0;
}
.advantages__item {
  position: relative;

  display: inline-block;
  width: 380px;
  min-height: 240px;
  margin-right: 178px;
  padding-top: 110px;

  vertical-align: top; 
  text-align: center;
}
.advantages__item:last-child {
  margin-right: 0;
}
.advantages__item::before {
  content: ''; 
  position: absolute;
  bottom: 162px;
  left: 50%;
}
.advantages__item--noodle::before {
  width: 87px;
  height: 79px;
  margin-left: -33.5px;

  background-image: url('../img/noodle.png');
}
.advantages__item--tea::before {
  width: 106px;
  height: 68px;
  margin-left: -51px;

  background-image: url('../img/tea.png');
}
.advantages__item--sweet::before {
  width: 64px;
  height: 76px;
  margin-left: -31px;

  background-image: url('../img/sweet.png');
}
.advantages__title {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.advantages__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.month-specials {
  min-height: 835px;
  padding-top: 58px;

  background-color: #ffffff;
}
.month-specials__title {
  position: relative;

  width: 410px;
  min-height: 120px;
  margin: 0 auto 57px auto;
  padding-top: 14px;

  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
}
.month-specials__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 253px;
  height: 33px;
  margin-left: -126.5px;

  background-image: url('../img/decoration.png');
}
.month-specials__offers-list {
  width: 1488px;
  height: 496px;
  margin: 0 auto; 

  font-size: 0;
  line-height: 0;
}
.month-specials__offers-item {
  display: inline-block;
  width: 496px;
  height: 248px;

  vertical-align: top;
}
.month-specials__offers-item--reverse .month-specials__offer-img {
  float: right;
}
.month-specials__offers-item--reverse .month-specials__offer-wrap {
  float: left;
}
.month-specials__offer-img {
  display: block;
  float: left;
  width: 248px;
  height: 248px;

          clip-path: inset(0 0 0 0); 

  -webkit-clip-path: inset(0 0 0 0);
}
.month-specials__offer-img img {
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
.month-specials__offer-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.month-specials__offer-wrap {
  float: right;
  width: 248px;
  height: 248px;
  padding-top: 62px;

  text-align: center;

  background-color: #f8f8f8;
}
.month-specials__offer-title {
  position: relative;

  min-height: 41px;
  margin-bottom: 12px; 

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.month-specials__offer-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 88px;
  height: 2px;
  margin-left: -44px;

  background-color: #383838;
}
.month-specials__offer-description {
  min-height: 50px;
  margin-bottom: 7px; 

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.month-specials__offer-price {
  display: block;
  min-height: 35px; 

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .month-specials__offer-img {
            clip-path: none; 

    -webkit-clip-path: none;
  }
  .month-specials__offer-img img {
    -webkit-transition: none;
            transition: none;
  }
  .month-specials__offer-img img:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.about-us {
  min-height: 967px;
  padding-top: 238px;
  padding-left: 13px;

  background: url('../img/about-us-background.jpg') no-repeat #eeefef;
  background-size: cover;
}
.about-us___wrap {
  position: relative;

  width: 610px;
  min-height: 564px;

  text-align: center;
}
.about-us___wrap::after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 3px;

  width: 213px;
  height: 144px;

  background-image: url('../img/signature.png');
}
.about-us__title {
  position: relative;

  min-height: 108px;
  margin-bottom: 45px;

  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.about-us__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 253px;
  height: 33px;
  margin-left: -126.5px;

  background-image: url('../img/decoration.png');
}
.about-us__description {
  padding-left: 5px;

  font-size: 30px;
  line-height: 54px;
}

.restaurant-menu {
  min-height: 965px;
  padding-top: 58px;

  text-align: center;
}
.restaurant-menu__title {
  position: relative;

  min-height: 108px;
  margin-bottom: 52px;

  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.restaurant-menu__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 253px;
  height: 33px;
  margin-left: -126.5px;

  background-image: url('../img/decoration.png');
}
.restaurant-menu__nav {
  margin-bottom: 71px;
  margin-left: 490px;

  text-align: left;
}
.restaurant-menu__offers {
  padding: 0 15px;

  font-size: 0;
  text-align: left;

  -webkit-transition: 1s ease-in-out;
          transition: 1s ease-in-out;
}
.restaurant-menu__offers-menu {
  display: inline-block;
  margin-right: 220px;

  vertical-align: top;
}
.restaurant-menu__offers-menu:nth-child(2n + 1) {
  margin-right: 32px;
}
.restaurant-menu__offers-menu--solo {
  margin-right: 887px;
}

.offers-menu {
  width: 635px;
}
.offers-menu__item {
  position: relative;

  width: inherit;
  min-height: 60px;
  margin-bottom: 19px;
  padding-top: 7px;
}
.offers-menu__item:last-child {
  margin-bottom: 0;
}
.offers-menu__item::before {
  content: '';
  position: absolute;
  top: 26px;
  left: 2px;
  z-index: 1;

  width: 99%;
  height: 2px;

  border-bottom: 2px dotted black;
}
.offers-menu__wrap {
  position: relative;
  z-index: 2;

  float: left;

  background-color: #ffffff;
}
.offers-menu__offer {
  padding-right: 14px;
}
.offers-menu__offer-title {
  display: block;

  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}
.offers-menu__offer-products {
  display: block; 

  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}
.offers-menu__offer-price {
  position: relative;
  z-index: 2;

  display: block;
  float: right;
  padding-left: 9px;

  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  background-color: #ffffff;
}

.page-footer {
  min-height: 965px;

  background: url('../img/footer-background.jpg') no-repeat #ecedee;
  background-size: cover;
}
.page-footer__wrap {
  width: 575px;
  margin-right: 12px;
  margin-left: auto;

  text-align: center;
}

.contacts {
  padding-top: 58px;
  padding-left: 1px;
}
.contacts__title {
  position: relative;

  min-height: 108px;
  margin-bottom: 55.5px; 

  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.contacts__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 253px;
  height: 33px;
  margin-left: -126.5px;

  background-image: url('../img/decoration.png');
}
.contacts__description {
  margin-bottom: 93px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.contacts__veggie {
  float: left;
  width: 200px;
}
.contacts__veggie-title {
  display: block;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}
.contacts__veggie-address {
  display: block;
}
.contacts__reservations {
  float: right;
  width: 220px;
  padding-left: 4px;
}
.contacts__reservations-title {
  display: block;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}
.contacts__reservations-email {
  display: block;
}
.contacts__reservations-tel {
  display: block;
}
.contacts__form {
  margin-bottom: 192px;

  text-align: left;
}
.contacts__input {
  min-height: 35px;
  padding: 0 0 6px 22px;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-family: inherit;
  vertical-align: top;
  color: #3c3c3c;
  font-style: italic;

  border-bottom: 1px solid #3c3c3c;
  outline: 0;
}
.contacts__form-title {
  margin-bottom: 28px;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}
.contacts__form-colums {
  margin-bottom: 65px; 

  font-size: 0;
}
.contacts__form-name {
  width: 254px;
  margin-right: 62px;
}
.contacts__form-email {
  width: 254px;
}
.contacts__form-message {
  width: 570px;
  margin-bottom: 52.5px;
}
.contacts__form-button {
  width: 100px;
  height: 50px;
  margin-left: 237px;

  font-weight: 900;
  font-size: 18px;
  line-height: 48px;

  border: 1px solid #484848;
}
.contacts__form-button:hover,
.contacts__form-button:focus {
  color: #ff0000;
}
.contacts__form-button:active {
  color: #ff8080;

  border-color: #c8c8c8;
}
.contacts__social-list {
  width: 114px;
  margin-right: 4px;
  margin-left: auto; 

  font-size: 0;
}
.contacts__social-item {
  display: inline-block;
  margin-right: 14px;

  vertical-align: top;
}
.contacts__social-item:last-child {
  margin-right: 0;
}
.contacts__social-link {
  display: block;
  width: 50px;
  height: 50px;

  border: 1px solid #484848;
  outline: 0;
}
.contacts__social-link:hover,
.contacts__social-link:focus {
  background-color: #ff3333; 
  border-color: #ff3333;
}
.contacts__social-link:active {
  background-color: #ffb3b3; 
  border-color: #ffb3b3;
}
.contacts__social-link--fb {
  background: url('../img/icon-facebook.png') center center no-repeat;
}
.contacts__social-link--inst {
  background: url('../img/icon-instagram.png') center center no-repeat;
}
